<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailLogin" value="[EMAIL]"/>
    <add key="MailPassword" value="[MAIL PASSWORD ENCRYPT VERSION]"/>
    <add key="MailServer" value="[MAIL SERVER]"/>
    <add key="MailServerPort" value="587"/>
    <add key="ErrorMailList" value="[MAIL LIST FOR ERROR LOGS]"/>

    <add key="MobileOperationTypes" value="10,50,51,55,99,70,77"/>
    <add key="FileEncryptKey" value="CwuzQ9HcdgzFYSENAB5KHbXvFYO3zDt834LnhEQtC0w="/>
  </appSettings>
  <connectionStrings>
    <!--Encypt version:  "connectionString".Encypt();   "connectionString".Decypt();   By Cryptography class-->
    <add name="ConnStr" connectionString="Data Source=10.10.72.35;Initial Catalog=YH;User ID=test;Password=B@ku2019" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxUrlLength="350" requestPathInvalidCharacters="" executionTimeout="900" maxRequestLength="50000"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="Auto" uiCulture="Auto"/>
    <pages validateRequest="false" autoEventWireup="true" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>